QPushButton
{
	background-color:rgb(255,255,255);
	border-radius:5px;
	border-style:inset;
	border-width:2px;
	border-color:#87CEEB;
	padding:3px;
}

QPushButton:hover
{
	background-color:#D3D3D3;
}

QPushButton:pressed
{
	background-color:rgb(200,200,200);	
}

QPushButton:!enabled{
	border-style:inset;
	border-color:#DCDCDC;
}